﻿@model IList<hoavb.Models.DataModel.ClubSeason>

@{
    ViewBag.Title = "Club List";
}
<h2>@ViewBag.PageTitle</h2>

<div class="row">
  <div class="col-md-12">
      @if (Model != null)
      {
          <table class="table table-condensed table-striped datatable">
              <thead>
                  <tr>
                    <th>Name</th>
                    <th>Contact</th>
                    <th>Phone</th>
                    <th>Ages</th>
                  </tr>
              </thead>
              <tbody>
                  @foreach (var item in Model.OrderBy(p => p.Club.ClubName))
                  {
                      <tr>
                        <td><a href="/Home/TeamList/?id=@item.ID" >@item.Club.ClubName</a></td>
                        <td>@item.Club.ContactName</td>
                        <td><nobr>@item.Club.ContactPhone</nobr></td>
                        <td style="width: 20%;">
                            @foreach (var age in item.Club_AgeLevels.Select(p => new { Code = p.AgeCode, Description = p.AgeDescription }).Distinct().OrderBy(p => p.Code).ToArray())
                            {
                                <text>@age.Description </text>
                            }
                         </td> 
                      </tr>
                  }
              </tbody>
          </table>
      }
  </div>
</div>

@section Scripts
{
        <script type="text/javascript">
            $(function () {
                $('.datatable').dataTable({
                    "sPaginationType": "bs_full",
                    "aLengthMenu": [
                        [25, 50, 100, 200, -1],
                        [25, 50, 100, 200, "All"]
                    ],
                    "iDisplayLength": -1
                });
                $('.datatable').each(function () {
                    var datatable = $(this);
                    // SEARCH - Add the placeholder for Search and Turn this into in-line form control
                    var search_input = datatable.closest('.dataTables_wrapper').find('div[id$=_filter] input');
                    search_input.attr('placeholder', 'Search');
                    search_input.addClass('form-control input-sm');
                    // LENGTH - Inline-Form control
                    var length_sel = datatable.closest('.dataTables_wrapper').find('div[id$=_length] select');
                    length_sel.addClass('form-control input-sm');
                });



                
            });
    </script>
}