﻿@model IEnumerable<hoavb.Models.DataModel.Person>

@{
    ViewBag.Title = "PersonList";
}

<h2>Person Search</h2>
<table id="person_list_dt" class="table table-striped table-condensed">
    <thead>
        <tr>
            <th>
                Last Name
            </th>
            <th>
                First Name
            </th>
            <th>
               Club Area Code
            </th>
            <th>
                ID
            </th>
            <th>
                Team History
            </th>

        </tr>
    </thead>
    <tbody>

    </tbody>
</table>


@section Scripts
{
    <script type="text/javascript">
        $('#person_list_dt').dataTable({
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "/Home/GetPersonsDataTable",
            "sServerMethod": "POST",
            "aoColumns": [
                            { 'bSortable': true }, { 'bSortable': true }, { 'bSortable': true }, { 'bSortable': true }, { 'bSortable': false }
            ],
            "aaSorting": [[0, 'asc']]
        }).fnSetFilteringDelay(500);


    </script>
}