﻿@model IList<hoavb.Models.DataModel.Team>
@{
    ViewBag.Title = "TeamList";
}



        <div class="row">
          <div class="col-md-12">
              @if (Model != null)
              {
                  <table class="table table-condensed table-striped datatable">
                      <thead>
                          <tr>
                            <th>Division</th>
                            <th>Division Rank</th>
                            <th>Age Rank</th>
                            <th>Name</th>
                            <th>Record</th>
                            <th>Strength</th>
                            <th>Sched</th>
                            <th>Sex</th>
                            
                          </tr>
                      </thead>
                      <tbody>
                          @foreach (var item in Model.OrderBy(p => p.SexCode).ThenBy(p => p.DivisionDescription).ThenBy(p => p.DivisionRank))
                          {
                              <tr>
                                <td>@item.DivisionDescription</td>
                                <td>@item.DivisionRank</td>
                                <td>@item.AgeLevelRank</td>
                                <td><a href="/Home/TeamInfo/?id=@item.ID" data-toggle="modal" data-target="#modal">@item.TeamName</a></td>
                                <td>@item.Wins / @item.Loss</td>
                                <td>@item.RankScore</td>
                                <td>@item.SchedScore</td>
                                <td>@item.SexDescription</td>
                                
                              </tr>
                          }
                      </tbody>
                  </table>
              }
          </div>
        </div>
      </div>


@section Scripts
{
        <script type="text/javascript">
            $(function () {
                $('.datatable').dataTable({
                    "sPaginationType": "bs_full",
                    "aLengthMenu": [
                        [25, 50, 100, 200, -1],
                        [25, 50, 100, 200, "All"]
                    ],
                    "iDisplayLength": -1
                });
                $('.datatable').each(function () {
                    var datatable = $(this);
                    // SEARCH - Add the placeholder for Search and Turn this into in-line form control
                    var search_input = datatable.closest('.dataTables_wrapper').find('div[id$=_filter] input');
                    search_input.attr('placeholder', 'Search');
                    search_input.addClass('form-control input-sm');
                    // LENGTH - Inline-Form control
                    var length_sel = datatable.closest('.dataTables_wrapper').find('div[id$=_length] select');
                    length_sel.addClass('form-control input-sm');
                });



                
            });
    </script>
}