﻿@model IList<hoavb.Models.DataModel.Team>
@{
    ViewBag.Title = "TeamList";
}



<div class="row">
    <div class="col-md-12">
        @if (Model != null)
        {
            <table class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Representative</th>
                        <th>Code</th>
                        <th>Division</th>
                        <th>Division Rank</th>
                        <th>Age Rank</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.OrderBy(p => p.AgeCode).ThenBy(p => p.ClubTeamSort))
                    {
                        <tr>
                            <td><a href="/Home/TeamInfo/?id=@item.ID">@item.TeamName</a></td>
                            <td>@item.ContactName</td>
                            <td>@item.TeamCode</td>
                            <td>@item.DivisionDescription</td>
                            <td><a href="/Home/Rankings/?season=@item.Season&agelevel=@item.AgeCode">@item.DivisionRank</a></td>
                            <td><a href="/Home/Rankings/?season=@item.Season&agelevel=@item.AgeCode">@item.AgeLevelRank</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>
