﻿@model hoavb.Models.DataModel.Team
@{
    ViewBag.Title = "TeamInfo";

    string season = Model.Season;
    string prevSeason = "";
    string nextSeason = "";

    switch(season)
    {
        case "2017/2018":
            prevSeason = "2016/2017";
            break;
        case "2016/2017":
            nextSeason = "2017/2018";
            prevSeason = "2015/2016";
            break;
        case "2015/2016":
            nextSeason = "2016/2017";
            prevSeason = "2014/2015";
            break;
        case "2014/2015":
            nextSeason = "2015/2016";
            prevSeason = "2013/2014";
            break;
        case "2013/2014":
            nextSeason = "2014/2015";
            prevSeason = "2012/2013";
            break;
        case "2012/2013":
            nextSeason = "2013/2014";
            prevSeason = "2011/2012";
            break;
        case "2011/2012":
            nextSeason = "2012/2013";
            break;
    }
}

            <h3>@Model.TeamName <a href="https://hai3.hoavb.org/TRN/TR3_TMinfo.C.php?HFT=@Model.DBID" target="_blank"><small>@Model.TeamCode</small> <small>@Model.Season</small></a></h3>
           



            <div class="row">
                <div class="col-md-12">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="badge">@Model.DivisionDescription</span>
                            <span>Division</span>
                        </li>
                        <li class="list-group-item">
                            <span class="badge">@Model.DivisionRank / <small>@Model.DivisionTotalTeamCount</small></span>
                            <span>Division Rank</span>
                        </li>
                        <li class="list-group-item">
                            <span class="badge">@Model.AgeLevelRank / <small>@Model.AgeLevelTotalTeamCount</small></span>
                            <span>Age Group Rank</span>
                        </li>
                        <li class="list-group-item">
                            <span class="badge">@Model.Wins / @Model.Loss</span>
                            <span>Wins/Losses</span>
                        </li>
                    </ul>

                    @if (Model != null)
                    {

                        if (Model.Teams_Persons != null)
                        {
                        <h3>Players</h3>
                        <table class="table table-condensed table-striped ">
                            <thead>
                                <tr>
                                    <th>Role</th>
                                    <th>Last Name</th>
                                    <th>First Name</th>
                                    <th>Code</th>
                                    <th>From</th>
                                    <th>To</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Teams_Persons.OrderBy(p => p.Role).ThenBy(p => p.Person.LastName))
                                {
                                    
                                    string prevTeam = "";
                                    string nextTeam = "";
                                    

                                    
                                    
                                    <tr>
                                        <td>@item.Role</td>
                                        <td>@item.Person.LastName</td>
                                        <td>@item.Person.FirstName</td>
                                        <td>@item.Person.ID</td>
                                        <td>
                                        @if(!String.IsNullOrEmpty(prevSeason))
                                        {
                                            var team = item.Person.Teams_Persons.Where(p => p.Team.Season == prevSeason).Select(f => f.Team).FirstOrDefault();
                                            if (team != null) { 
                                            <span class="text-muted"><a href="/Home/TeamInfo/?id=@team.ID">@team.TeamName</a></span>
                                            }
                                        }
                                        </td>
                                        <td>
                                        @if (!String.IsNullOrEmpty(nextSeason))
                                        {
                                            var team = item.Person.Teams_Persons.Where(p => p.Team.Season == nextSeason).Select(f => f.Team).FirstOrDefault();
                                            if (team != null) { 
                                            <span class="text-muted"><a href="/Home/TeamInfo/?id=@team.ID">@team.TeamName</a></span>
                                            }
                                        }
                                            </td>
                                            
                                    </tr>
                                }
                            </tbody>
                        </table>
                        }
                        
                    }
                </div>
            </div>

