﻿@model Services.Search.UriSearchResult
@{
    ViewBag.Title = "Search";
}
<form method="get" action="/Search" class="navbar-form navbar-right">
    <div class="form-group">
        <label class="sr-only" for="txtKeywords">Content Search</label>
        <input class="form-control" placeholder="text search" id="txtKeywords" name="keywords" value="@Request.QueryString["keywords"]" />
    </div>
    </form>

<h1>Search Results</h1>
<h4>Total Hits <span class="label label-info">@Html.DisplayFor(model => model.TotalHits)</span></h4>


@if (Model != null)
{
    foreach (var ele in Model.ResultItemList.OrderByDescending(p => p.Rank))
    {
        
    <div class="row">
        <div class="well col-md-6">
            <a class="pull-right text-muted" href="/Search/Preview/@ele.UriID" data-toggle="modal" data-target="#modal" title="Cached Copy"><span class="glyphicon glyphicon-cloud-download"></span></a>
            <h4><a href="@ele.URL" target="_blank">@Html.Raw(ele.Title)</a> <small>(@ele.Rank)</small></h4>
            <p>@Html.Raw(ele.Highlight)</p>
        </div>
    </div>
    }
}
