﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link href="~/Content/Site.css?v=2" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header class="navbar navbar-inverse" role="banner">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#primary-bar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">HOA Data</a>
            </div>
            <div class="collapse navbar-collapse" id="primary-bar">
                <ul class="nav navbar-nav">
                    <li class="@(Utilities.ActiveNav(ViewBag, "person_search"))"><a href="/Home/PersonList">Person Search</a></li>
                    <li class="dropdown @(Utilities.ActiveNav(ViewBag, "club_list"))">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Club Listing <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="@(Utilities.ActiveSubNav(ViewBag, "2017/2018"))"><a href="/Home/ClubList/?id=2017/2018">Club List 2018</a></li>
                            <li class="@(Utilities.ActiveSubNav(ViewBag, "2016/2017"))"><a href="/Home/ClubList/?id=2016/2017">Club List 2017</a></li>
                            <li class="@(Utilities.ActiveSubNav(ViewBag, "2015/2016"))"><a href="/Home/ClubList/?id=2015/2016">Club List 2016</a></li>
                            <li class="@(Utilities.ActiveSubNav(ViewBag, "2014/2015"))"><a href="/Home/ClubList/?id=2014/2015">Club List 2015</a></li>
                            <li class="@(Utilities.ActiveSubNav(ViewBag, "2013/2014"))"><a href="/Home/ClubList/?id=2013/2014">Club List 2014</a></li>
                            <li class="@(Utilities.ActiveSubNav(ViewBag, "2012/2013"))"><a href="/Home/ClubList/?id=2012/2013">Club List 2013</a></li>
                            <li class="@(Utilities.ActiveSubNav(ViewBag, "2011/2012"))"><a href="/Home/ClubList/?id=2011/2012">Club List 2012</a></li>
                        </ul>
                    </li>
                    <li class="dropdown @(Utilities.ActiveNav(ViewBag, "calendar_list"))">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tournament Calendars <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="@(Utilities.ActiveSubNav(ViewBag, "2017/2018"))"><a href="/Calendar/Index/?id=2017/2018">Tournaments 2018</a></li>
                            <li class="@(Utilities.ActiveSubNav(ViewBag, "2016/2017"))"><a href="/Calendar/Index/?id=2016/2017">Tournaments 2017</a></li>
                            <li class="@(Utilities.ActiveSubNav(ViewBag, "2015/2016"))"><a href="/Calendar/Index/?id=2015/2016">Tournaments 2016</a></li>
                            <li class="@(Utilities.ActiveSubNav(ViewBag, "2014/2015"))"><a href="/Calendar/Index/?id=2014/2015">Tournaments 2015</a></li>
                            <li class="@(Utilities.ActiveSubNav(ViewBag, "2013/2014"))"><a href="/Calendar/Index/?id=2013/2014">Tournaments 2014</a></li>
                            <li class="@(Utilities.ActiveSubNav(ViewBag, "2012/2013"))"><a href="/Calendar/Index/?id=2012/2013">Tournaments 2013</a></li>
                            <li class="@(Utilities.ActiveSubNav(ViewBag, "2011/2012"))"><a href="/Calendar/Index/?id=2011/2012">Tournaments 2012</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

    </header>
    <div class="container">
        @RenderBody()
    </div>

    <div id="modal" class="modal"></div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/datatables/1.9.4/jquery.dataTables.min.js"></script>
    <script src="/js/dataTables.fnSetFilteringDelay.js"></script>

    @Scripts.Render("~/bundles/js")
    <script src="~/Scripts/jquery.signalR-2.0.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $(function () {
            $('.modal').on('hidden.bs.modal', function () {
                $('.modal').html('').removeData('bs.modal');
            });

        });


    </script>

    <div id="modal" class="modal"></div>
</body>
</html>





