﻿@model IList<hoavb.Models.DataModel.Tournament>
@{
    ViewBag.Title = "Tournaments " + Request.QueryString["id"];
    string selectedAgeLevel = (Request.QueryString["ageLevel"] ?? "").ToString();
    string selectedDvisionLevel = (Request.QueryString["divisionlevel"] ?? "").ToString();
    Dictionary<string, string> levels = new Dictionary<string, string> {
        {"All Levels", ""},
        {"Gold", "G"},
        {"Silver", "S"},
        {"Bronze", "B"},
        {"Open", "O"}
    
    };
}


<div class="row">
    <div class="col-md-8">
        <h2 class="pull-left">@ViewBag.PageTitle</h2>
    </div>
    <div class="col-md-4">

        <div class="btn-group pull-right">
            <button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown"><span class="glyphicon glyphicon-calendar"></span> Download .ics files <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu">
                @for (int i = 18; i > 9; i--)
                {
                    <li class="dropdown-header">@i's</li>
                    foreach (var item in levels)
                    {
                        <li><a href="/Calendar/iCal/?id=@Request.QueryString["id"]&ageLevel=@(i - 10)&divisionlevel=@item.Value">@item.Key<span class="glyphicon glyphicon-cloud-download pull-right"></span></a></li>
                    }
                    <li class="divider"></li>
                }
            </ul>
        </div>

    </div>
</div>

<div class="row">
  <div class="col-md-12">
    <a href="/Calendar/Index/?id=@Request.QueryString["id"]&divisionlevel=@selectedDvisionLevel" class="label @(String.IsNullOrEmpty(selectedAgeLevel) ? "label-success" : "label-default")">All Ages</a>
    @for (int i = 18; i > 9; i--)
    {
        <a href="/Calendar/Index/?id=@Request.QueryString["id"]&divisionlevel=@selectedDvisionLevel&ageLevel=@(i - 10)" class="label @(selectedAgeLevel.Equals((i - 10).ToString()) ? "label-success" : "label-default")">@i's</a>
    }
    <br />
    @foreach (var item in levels)
    {
         <a href="/Calendar/Index/?id=@Request.QueryString["id"]&divisionlevel=@item.Value&ageLevel=@selectedAgeLevel" class="label @(selectedDvisionLevel.Equals(item.Value) ? "label-success" : "label-default")">@item.Key</a>
    }


      
      @if (Model != null)
      {
          <table class="table table-condensed table-striped datatable">
              <thead>
                  <tr>
                    <th>Date</th>
                    <th>Event</th>
                    <th>Divisions</th>
                    <th>Site</th>
                    <th>Fee</th>
                    <th>Contact</th>
                  </tr>
              </thead>
              <tbody>
                  @foreach (var item in Model.OrderBy(p => p.dtStart).ThenBy(p => p.Name))
                  {
                     
                      
                      
                      <tr>
                        <td>@item.dtStart.ToShortDateString()
                            @if (item.dtStart != item.dtEnd)
                            {
                                <text> - @item.dtEnd.ToShortDateString()</text>
                            }

                        </td>
                        <td>@item.Name</td>
                        <td>@(String.Join(", ", item.Tournaments_AgeLevels.OrderBy(p => p.AgeCode).ThenBy(p => p.RestrictionLevel).Select(p => p.AgeDescription + " " + p.RestrictionDescription).ToArray()))</td>
                        <td>@item.Site</td>
                        <td>@item.Fee</td>
                        <td>@item.ContactName</td>
                      </tr>
                  }
              </tbody>
          </table>
      }
  </div>
</div>

@section Scripts
{

}